img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
}
.first-col{
    background-color: aliceblue;
}
.col-10{
text-align: center;
margin-top: 10px
}
first{
    margin-top: 10px;
}
h4{
    background-color: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    
}
ul{
    margin-left: 20px;
    
}